body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

body #wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
}

.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -25px;
    margin-left: -75px;
}

*:focus{
    outline:none;
}

h2 {
    color: #FFFFFA;
}
